<script setup lang="ts">
import fancyBtn from "@/components/fancyBtn.vue";
import { mdiBatteryHeart, mdiCursorDefaultClick } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <fancyBtn
          ><v-icon :icon="mdiBatteryHeart" /> Love Me!!!
          <template v-slot:tail>Tail</template>
        </fancyBtn>
      </v-col>

      <v-col>
        <fancyBtn
          >Click Me!!!

          <template #HeHe>
            <v-icon :icon="mdiCursorDefaultClick"></v-icon
          ></template>
        </fancyBtn>
      </v-col>
    </v-row>
  </v-container>
</template>
