<script setup lang="ts">
import CardSkill from "@/components/CardSkill.vue";
import CardJava from "@/components/CardJava.vue";
import CardHTML from "@/components/CardHTML.vue";

import {
  mdiBat,
  mdiFormTextbox,
  mdiAlphaUCircle,
  mdiGenderMale,
  mdiDiceD20,
  mdiController,
  mdiDivingHelmet,
  mdiHeart,
  mdiBookmark,
  mdiMusicCircle,
  mdiFacebook,
  mdiInstagram,
  mdiDuck,
  mdiRobotMower,
  mdiShareVariant,
  mdiTwitter,
  mdiStar,
} from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col class="eiei" cols="2">
        <v-card class="mx-auto" max-width="400" align="center">
          <v-avatar class="ma-3" size="150" rounded="0">
            <v-img cover src="cat.jpg"></v-img>
          </v-avatar>
          <v-card-title style="font-family: Cursive">
            Hello World!!</v-card-title
          >
          <v-card-actions>
            <v-btn
              :icon="mdiFacebook"
              size="x-large"
              class="ml-2"
              color="blue"
              href="https://www.facebook.com/Kitiwat.DA"
              target="_blank"
            ></v-btn>
            <v-btn
              :icon="mdiInstagram"
              size="x-large"
              class="ml-2"
              color="pink"
              href="https://www.instagram.com/_kkitiist/"
              target="_blank"
            ></v-btn>
          </v-card-actions>
        </v-card>
      </v-col>

      <v-col class="eiei" cols="4">
        <br />
        <h2>
          Kitiwat Daowrueng
          <v-icon :icon="mdiDivingHelmet" color="yellow"></v-icon>
        </h2>
        <h2>64160131</h2>

        <v-img
          src="https://acegif.com/wp-content/uploads/2021/4fh5wi/pepefrg-8.gif"
          height="100"
        ></v-img>
      </v-col>

      <v-col class="doowhite">
        <br />
        <img
          src="https://tumo.org/wp-content/uploads/2017/06/portfolio-text-5.png"
          cover
          style="width: 100%; height: 100"
        />
      </v-col>
    </v-row>

    <v-row>
      <v-col style="background-color: rgb(13, 58, 112)" cols="6">
        <div align="center">
          <v-img src="moydum.jpg" width="450px"></v-img>
        </div>
        <br />
        <p>
          <v-icon :icon="mdiFormTextbox" size="large" color="red"></v-icon>
          Name: Kitiwat
          <br />
          <v-icon :icon="mdiBat" color="purple"></v-icon>Surname : Daowrueng
          <br />
          Nickname : Yuta
          <v-icon :icon="mdiAlphaUCircle" color="green"></v-icon>
          <br />
          Date of Birth : 25 September 2002
          <br />
          <v-icon :icon="mdiDiceD20" color="pink"></v-icon>
          Age: 20 years old
          <br />
          <v-icon :icon="mdiGenderMale" color="blue"></v-icon>
          Gender: Male <br />
        </p>

        <br />
        <v-img src="hobby.jpg" style="height: 60px; width: 680px"></v-img>
        <br />
        <v-card class="mx-auto" max-width="430" elevation="12" loading shaped>
          <v-img src="roblox.jpg" height="200px" cover></v-img>

          <v-card-title>
            <v-icon :icon="mdiController" color="pink"></v-icon> Playing Game
          </v-card-title>
          <v-card-subtitle> Valorant,Overwatch 2,เกมเลี้ยงแมว </v-card-subtitle>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-btn
              size="small"
              color="red"
              variant="text"
              :icon="mdiHeart"
            ></v-btn>

            <v-btn
              size="small"
              color="surface-variant"
              variant="text"
              :icon="mdiBookmark"
            ></v-btn>
          </v-card-actions>
        </v-card>
        <br />
        <v-card
          color="#1F7087"
          theme="dark"
          class="mx-auto"
          max-width="430"
          elevation="12"
          loading
          shaped
        >
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title class="text-h5">
                <v-icon :icon="mdiMusicCircle"></v-icon> Listening to music
              </v-card-title>

              <v-card-subtitle
                >Dayglow,The Beatles,เฉลิมพล มาลาคำ</v-card-subtitle
              >

              <v-card-actions>
                <v-btn
                  elevation="2"
                  rounded="pill"
                  class="ml-2"
                  variant="outlined"
                  size="small"
                  href="https://www.youtube.com/watch?v=LCdeGt7mQTg"
                  target="_blank"
                >
                  Dayglow
                </v-btn>

                <v-btn
                  elevation="2"
                  rounded="pill"
                  class="ml-2"
                  variant="outlined"
                  size="small"
                  href="https://www.youtube.com/watch?v=NrgmdOz227I"
                  target="_blank"
                >
                  The Beatles
                </v-btn>
              </v-card-actions>
            </div>

            <v-avatar class="ma-3" size="125" rounded="0">
              <v-img src="dayglow.jpg"></v-img>
            </v-avatar>
          </div>
        </v-card>
      </v-col>

      <v-col class="doowhite" cols="6">
        <div align="center">
          <v-img src="edu.jpg" width="300px"></v-img>
        </div>
        <br />
        <v-card
          color="yellow"
          class="mx-auto"
          max-height="120"
          style="font-family: Cursive"
        >
          <div class="d-flex flex-no-wrap justify-space-around">
            <div>
              <v-card-title>
                <v-icon :icon="mdiDuck" color="blue"></v-icon>
                Sutheeworraratrangsarit School</v-card-title
              >

              <v-card-subtitle> 2009 - 2014 </v-card-subtitle>

              <v-card-actions> </v-card-actions>
            </div>

            <v-avatar class="mb-5" size="130" rounded="2">
              <v-img src="suuuuuutheeeeeee.png" height="150px"></v-img>
            </v-avatar>
          </div>
        </v-card>
        <br />

        <v-card
          color="blue"
          class="mx-auto"
          max-height="120"
          style="font-family: Cursive"
        >
          <div class="d-flex flex-no-wrap justify-space-around">
            <div>
              <v-card-title>
                <v-icon :icon="mdiStar" color="yellow"></v-icon>
                Prachinratsadorn-amroong School</v-card-title
              >

              <v-card-subtitle> 2015-2020 </v-card-subtitle>

              <v-card-actions> </v-card-actions>
            </div>

            <v-avatar class="mb-5" size="130" rounded="2">
              <v-img src="praaaa.png" height="100px"></v-img>
            </v-avatar>
          </div>
        </v-card>
        <br />
        <v-card
          color="grey"
          class="mx-auto"
          max-height="120"
          style="font-family: Cursive"
        >
          <div class="d-flex flex-no-wrap justify-space-between">
            <div>
              <v-card-title style="padding-left: 30px">
                <v-icon :icon="mdiRobotMower" color="yellow"></v-icon>
                Burapha University</v-card-title
              >

              <v-card-subtitle> 2020 - Present </v-card-subtitle>

              <v-card-actions> </v-card-actions>
            </div>

            <v-avatar class="mb-5 justify-end" size="130" rounded="2">
              <v-img
                src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Buu-logo11.png"
                height="100px"
              ></v-img>
            </v-avatar>
          </div>
        </v-card>
        <br />

        <div align="center">
          <v-img src="interested.jpg" width="450px"></v-img>
        </div>
        <br />
        <v-card
          class="mx-auto"
          color="#26c6da"
          theme="dark"
          max-width="400"
          :prepend-icon="mdiTwitter"
          title="Twitter"
          style="font-family: Cursive"
        >
          <template v-slot:prepend>
            <v-icon size="x-large"></v-icon>
          </template>

          <v-card-text style="font-family: Cursive; font-size: large">
            "ผมสนใจวิธีการเป็น Front end ที่ดีและรถแห่ หมอลำ
            และคำสอนของอาจารย์แดง"
          </v-card-text>

          <v-card-actions>
            <v-list-item class="w-100">
              <template v-slot:prepend>
                <v-avatar
                  color="grey-darken-3"
                  image="https://media.giphy.com/media/VRKheDy4DkBMrQm66p/giphy-downsized-large.gif"
                ></v-avatar>
              </template>

              <v-list-item-title>Kitiist</v-list-item-title>

              <v-list-item-subtitle>นิสิตท่านหนึ่ง</v-list-item-subtitle>

              <template v-slot:append>
                <div class="justify-self-end">
                  <v-icon class="mr-1" :icon="mdiHeart" color="red"></v-icon>
                  <span class="subheading mr-2">5341</span>
                  <span class="mr-1">·</span>
                  <v-icon class="mr-1" :icon="mdiShareVariant"></v-icon>
                  <span class="subheading">45</span>
                </div>
              </template>
            </v-list-item>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>

    <v-row>
      <v-col class="skillback">
        <div align="center">
          <v-img src="skill.jpg" width="180px"></v-img>
        </div>
      </v-col>
    </v-row>

    <v-row class="skillback">
      <v-col>
        <CardSkill></CardSkill>
      </v-col>

      <v-col>
        <CardJava></CardJava>
      </v-col>
      <v-col>
        <CardHTML></CardHTML>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
h2 {
  color: white;
  font-size: 25px;
  font-family: cursive;
  text-align: left;
  padding-left: 25px;
}
p {
  color: rgb(8, 7, 0);
  font-size: 18px;
  font-family: Comic Sans, Comic Sans MS, cursive;
  text-align: left;
  padding: 20px;
  background-color: white;
  background-repeat: no-repeat;
  border: solid black 5px;
}
.header {
  color: rgb(191, 255, 0);
  font-size: 30px;
  font-family: cursive;
  text-align: left;
}
.eiei {
  background-color: rgb(13, 58, 112);
}
.doowhite {
  background-color: aliceblue;
}
.educate {
  color: rgba(237, 252, 15, 0.99);
  font-size: 18px;
  font-family: Comic Sans, Comic Sans MS, cursive;
  background-color: rgb(62, 108, 163);
  padding-left: 80px;
  padding-right: 100px;
  text-align: center;
  border: solid black 1px;
}
.hobby {
  color: rgb(8, 7, 0);
  font-size: 18px;
  font-family: Comic Sans, Comic Sans MS, cursive;
  text-align: center;

  background-color: white;
  background-repeat: no-repeat;
  border: solid black 5px;
}
.skillback {
  background-color: darkslateblue;
}
</style>
