<script setup lang="ts">
import FrameWorkPop from "@/components/FrameWorkPop.vue";
import { ref, computed } from "vue";
const frameList = ref([
  {
    name: "VueJS",
    img: "https://img.icons8.com/color/512/vue-js.png",
    rating: 10,
  },
  {
    name: "AngularJS",
    img: "https://cdn.icon-icons.com/icons2/2699/PNG/512/angular_logo_icon_169595.png",
    rating: 20,
  },
  {
    name: "ReactJS",
    img: "https://upload.wikimedia.org/wikipedia/commons/a/a7/React-icon.svg",
    rating: 14,
  },
]);
function changeRate(index: number, rating: number) {
  console.log("action " + index + " : " + rating);
  frameList.value[index].rating = rating;
}

const orderList = computed(() => {
  return [...frameList.value].sort((n1, n2) => n2.rating - n1.rating);
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col v-for="(item, index) of frameList" :key="index">
        <FrameWorkPop
          :name="item.name"
          :img="item.img"
          :rating="item.rating"
          :index="index"
          @change="changeRate"
        ></FrameWorkPop>
      </v-col>
    </v-row>

    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <th>Order</th>
              <th>Name</th>
              <th>Rating</th>
            </tr>
          </thead>

          <tbody>
            <tr v-for="(item, index) of orderList" :key="index">
              <td>{{ index + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>{{ item.rating }}</td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
  </v-container>
</template>
