<script setup lang="ts"></script>

<template>
  <v-card class="mx-auto" color="blue" elevation="20" max-width="250">
    <v-card-item>
      <div class="d-flex justify-between">
        <v-card-title class="flex-grow-1 flex-column align-start">
          <div class="text-h5">Python</div>
          <div class="text-p">ไม่ค่อยตึง</div>
        </v-card-title>

        <v-img
          contain
          height="120px"
          src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg"
          style="flex-basis: 80px"
          class="flex-grow-0"
        ></v-img>
      </div>

      <v-divider></v-divider>

      <v-card-actions class="pa-4">
        Rate :

        <v-spacer></v-spacer>

        <v-rating
          :model-value="2"
          color="white"
          active-color="yellow-accent-4"
          half-increments
          hover
          size="18"
          readonly
        ></v-rating>
      </v-card-actions>
    </v-card-item>
  </v-card>
</template>
