<template>
  <v-app :theme="theme">
    <v-app-bar>
      <v-spacer></v-spacer>

      <v-btn
        :prepend-icon="
          theme === 'light' ? mdiEmoticonCool : mdiMoonWaxingCrescent
        "
        @click="onClick"
        >Theme</v-btn
      >
    </v-app-bar>
    <v-navigation-drawer expand-on-hover rail permanent>
      <v-list>
        <v-list-item
          prepend-avatar="https://media.tenor.com/WugWpCOeHOQAAAAi/ricardo-ricardo-flick.gif"
          title="Kitiwat Daowrueng"
          subtitle="64160131@go.buu.ac.th"
        ></v-list-item>
      </v-list>

      <v-divider></v-divider>

      <v-list density="compact" nav>
        <v-list-item
          :prepend-icon="mdiFolder"
          title="My Files"
          value="myFiles"
          to="/my-files"
          color="blue"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiBat"
          color="purple"
          title="My Profile"
          value="myProfile"
          to="/my-profile"
        ></v-list-item>

        <v-list-item
          :prepend-icon="mdiStar"
          title="Starred"
          value="starred"
          to="/star-xo"
          color="yellow"
        ></v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script setup lang="ts">
import { ref } from "vue";
import {
  mdiEmoticonCool,
  mdiMoonWaxingCrescent,
  mdiFolder,
  mdiAccountMultiple,
  mdiStar,
  mdiBat,
} from "@mdi/js";

const theme = ref("light");

function onClick() {
  theme.value = theme.value === "light" ? "dark" : "light";
}
</script>
